body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #aaa;
}

.description {
  text-align: center;
}

.price {
  margin: auto;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: auto;
  background-image:radial-gradient(#adbbba, #79c7d1);
  border-radius: 5px;
  margin-bottom: 5px;
}

.button:hover {
  opacity: 0.5;
}

.back {
  border-radius: 3px;
  color: rgb(54, 46, 46);
  font-weight: bolder;
  cursor: pointer;
}

.Cform {
  font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
}

.Cform button {
  margin-top: 2vh
} 

.history-date {
  width: 100%; 
  margin-top: 2vh;
}

.order {
  border-bottom: solid 1px;
  border-radius: 20px; 
  width: 100%;
  margin-bottom: 40px;
}

.history-details {
  margin: auto;
}

@media screen and (max-width: 525px) {
  .product-img {
    width: calc(100% - 80px);
    overflow: auto;
    height: 100%
  }
  .history-details{
    width: 100%;
    overflow: auto;
    height: 70%;
    margin:auto;
} 
.image {
  width: 40vh !important;
}

}
.contact-container {
    padding-bottom: 30px;
    padding-top: 50px;
    font-family: 'Satisfy';
}

.divider {
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
