h2 {
    text-align: center;
    padding-bottom: 30px;
}

.col {
    border: 1px solid black;
}

.bio-container {
    margin-top: 50px;
    align-items: center;
}

.bio-img {
    border-radius: 5px;
    align-items: center;
}