.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.price-per-dozen {
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    font-family: satisfy;
    font-size: 18px;
}

h2 h3 {
    padding-bottom: 0px;
}

.divider {
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.history-img {
	height: 200px;
	width: 200px;
	margin: 8px;
}

.product-name {
	font-size: 15px;
}