.cart-img {
 border: 1px solid;
 margin: auto;
}

.remove-from-cart {
    cursor: pointer;
}

.cart-list {
    text-align: center;
}

.cart-qty {
    text-align: center;
}

.item {
    font-weight: 500;
}
.cart-img-box {
    width: 100%;
}
.item-details {
    align-items: center;
    width:100%
}