.image {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
}

.product-item {
    margin: auto;
    margin-bottom: 17px;
}

.product-name {
    text-align: center;
    font-size: 20px;
    color: black;
}

.product-link {
    text-decoration: none;
}

.product-price {
    text-align: center;
    margin-bottom: 12px;
}

.button {
    align-items: center;
}